name: Build & publish drill native-connector
on:
  push:
    branches:
      - master

jobs:
  build_and_publish_for_nix:
    name: Publish for nix platforms (macOS, Linux)
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v1
      - name: Publish
        run: |
          gradle --no-daemon -si publish
        env:
          BINTRAY_USER: ${{ secrets.BINTRAY_USER }}
          BINTRAY_API_KEY: ${{ secrets.BINTRAY_API_KEY }}
          GRADLE_OPTS: -Dorg.gradle.daemon=false -Dorg.gradle.jvmargs=-Xmx4096m

  build_and_publish_for_win:
    name: Publish for Windows platform (Windows platform)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ilammy/msvc-dev-cmd@v1
      - name: install
        run: |
          gradle installMingwX64Dist
      - name: ls
        working-directory: ./build/install/mingwX64
        run: dir
      - name: make lib
        working-directory: ./build/install/mingwX64
        run: lib /def:agent_connector.def /out:agent-connector.lib
      - name: Publish
        run: |
          gradle -si publishMingwX64ZipPublicationToMavenRepository
        env:
          BINTRAY_USER: ${{ secrets.BINTRAY_USER }}
          BINTRAY_API_KEY: ${{ secrets.BINTRAY_API_KEY }}
